<h1><%= @article.title %>
<p><%= @article.body %></p><br/>
<%= link_to   " Back ", article_path %>

<%= link_to "delete" , article_path(@article), method: :delete %>

<%= link_to "edit", edit_article_path(@article) %>



